@import "../../www/styles/variables";

//temp rule because of absence this in QUARK
button {
  border: 0 none;
}

.subscription-type-popup {

  .popup__content {
    width: 984px;

    //костыль чтобы крестик был внутри контейнера
    .popup__close-btn {
      margin-left: -35px;
    }

    //костыль чтобы тултип под крестиком из-за верхнего костыля
    .popup__close-text {
      margin-left: -15px;
    }
  }

  &__head {
    margin-bottom: @s4;

    &__title {
      margin-bottom: @s2;
    }
  }

  &__licenses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    margin-bottom: 40px;
  }

}