<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Template Monster</title>
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=1064, shrink-to-fit=yes">

  <meta property="fb:admins" content="720898483"/>
  <meta property="fb:admins" content="1129631948"/>
  <meta property="fb:admins" content="100001777951090"/>

  <link rel="publisher" href="https://plus.google.com/116173187155256042113"/>
  <!--
  <meta name="description" content="TM Marketplace React Application Description">

  <meta name="googlebot" content="index,follow">
  <meta name="google" content="nositelinkssearchbox">
  <meta name="google" content="notranslate">
  <meta name="google-site-verification" content="">

  <meta name="subject" content="">
  <meta name="abstract" content="">
  <meta name="url" content="">
  <meta name="directory" content="submission">
  <meta name="rating" content="General">
  <meta name="referrer" content="never">
  -->

  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <!--
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <link rel="canonical" href="">
  -->

  <!--
  <link rel="author" href="humans.txt">
  <link rel="copyright" href="copyright.html">

  <link rel="alternate" href="" hreflang="">

  <link rel="me" href="https://google.com/profiles/" type="text/html">
  <link rel="me" href="mailto:">
  <link rel="me" href="sms:+">

  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="en_US">

  <meta property="article:author" content="">

  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <link href="https://plus.google.com/+" rel="publisher">

  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="">
  -->

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

  <link rel="manifest" href="/manifest.json">

  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico">

  <meta name="msapplication-TileColor" content="#2196f3">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= htmlWebpackPlugin.options.GTM %>');</script>-->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<!--<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=<%= htmlWebpackPlugin.options.GTM %>" height="0" width="0" style="display:none;visibility:hidden">
  </iframe>
</noscript>-->
<!-- End Google Tag Manager (noscript) -->
<div class="root" id="root"></div>
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
</body>
</html>
